---
layout: base
blocks:
  -
    pic: 'rocket.png'
    title: 'Aim high'
    desc: |
      Our Team has years of experience matching students from around the 
      world with the right tutor to maximise each student’s full potential.
  - 
    pic: 'plant.png'
    title: "Bloomin' Marvellous"
    desc: |
      We understand the value of relationship-based, personalised learning. 
      The student who is engaged and inspired by their tutor wants to learn and grow.
  -
    pic: 'laptop.png'
    title: 'Lemon Squeezy'
    desc: |
      We are curating a first-class team of London-based tutors. We are recruiting specialist 
      tutors in all subjects from Key Stage 1 to undergraduate.
---
<!-- Header -->
<header>
  <div class="hero"></div>
</header>

<!-- About Section -->
<section id="about">
  <div class="container">
    <p class="who-we-are text-center">
      At Chepstow Tutors we are dedicated to creating an internationally-minded community of happy, 
      passionate and aspirational learners. We develop curiosity, creativity and excellence through 
      a bespoke, nurturing approach.
    </p>
    <div class="d-md-flex d-sm-block">
      {% for block in page.blocks %}
        <div class="info-col text-center">
          <div class="img-wrapper">
            <img src="/static/img/{{ block.pic }}"/>
          </div>
          <h2>{{ block.title }}</h2>
          <hr>
          <p>{{ block.desc }}</p>
          {% if forloop.last == true %}
            <a class="btn btn-primary" target="_blank" href="{{ site.tutorcruncher_url }}/signup/tutor/">Apply to become a tutor</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Contact form -->
<section id="contact">
  <div class="container">
    <h1 class="text-center">Student Enquiries</h2>
    <div id="enquiry" class="text-center"></div>
  </div>
</section>

<!-- Hero 2 -->
<div id="hero-2" class="mt-4">
  <div class="hero-2"></div>
</div>