<!-- Navigation -->
<nav class="navbar navbar-light navbar-expand-md bg-light affix">
  <a class="navbar-brand" href="{% if page.url == '/' %}#{% else %}/{% endif %}">
    <img id="navbar-logo" src="/static/img/logo.png"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">For tutors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">For students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">For business</a>
      </li>
    </ul>
  </div>
</nav>