<!-- Navigation -->

<nav class="navbar navbar-light navbar-expand-md bg-light affix">
  <a class="navbar-brand" href="{% if page.url == '/' %}#{% else %}/{% endif %}">
    <img id="navbar-logo" src="/static/img/logo.png"/>
  </a>

  <div class="nav-left-items d-none d-md-block ml-auto text-right">
    <span class="mb-auto">
      <a href="tel:{{ site.phone }}">T: {{ site.phone_display }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:{{ site.email }}">E: {{ site.email }}</a>
    </span>
    <h2 class="coming-soon mt-auto text-right">
      Make a Student Enquiry or Apply to Join our Tutor Team below
    </h2>
  </div>
  <!-- While we don't have a menu

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">For tutors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">For students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">For business</a>
      </li>
    </ul>
  </div> -->
</nav>